
span{   
    font-family: Garamond;
    font-size: 140%;
    font-weight: 600;
  }
  
  .icon  { 
    width: 100px ;
    height: 62px;
  }

  
  @media only screen and (max-width: 600px) {
      
    span{   
      font-family: Garamond;
      font-size: 120%;
      font-weight: 600;
    }
    
    .icon  { 
      width: 60px ;
      height: 40px;
    }

  }